 {% load static %}
  <div class="weui-tabbar">
    <a href="{% url 'Reception:showblog' %}" class="weui-tabbar__item weui-bar__item--on">
{#     <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">1</span>#}
      <div class="weui-tabbar__icon">
        <img src="{% static 'Reception/images/icon_nav_button.png' %}" alt="">
      </div>
      <p class="weui-tabbar__label">社区动态</p>
    </a>
    <a href="{% url 'Reception:showshixiangtype' %}" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="{% static 'Reception/images/icon_nav_msg.png' %}" alt="">
      </div>
      <p class="weui-tabbar__label">网上办事</p>
    </a>
    <a href="{% url 'Reception:showmessage' %}" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="{% static 'Reception/images/icon_nav_article.png' %}" alt="">
      </div>
      <p class="weui-tabbar__label">书记信箱</p>
    </a>
    <a href="{% url 'Reception:ticket_wait' %}" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <img src="{% static 'Reception/images/icon_nav_cell.png' %}" alt="">
      </div>
      <p class="weui-tabbar__label">实时取号</p>
    </a>
  </div>
