{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'BAdmin/images/metinfo.css' %}" />
<script type="text/javascript" src="{% static 'BAdmin/ckeditor/ckeditor.js' %}"></script>

</head>
<body>

	<div class="metinfotop">
	<div class="position">简体中文：系统设置 > <a href="1.html">基本设置</a></div>

	</div>
	<div class="clear"></div>


<div class="stat_list">
	<ul>
		<li class="now"><a href="1.html" title="社区动态">添加咨询</a></li>
		<!--<li ><a href="1.html" title="系统邮箱配置">系统邮箱配置</a></li> -->
	</ul>
</div>
<form method="POST" name="myform" action="{% url 'BAdmin:blog_add' %}" target="_self">{% csrf_token %}

	<input name="action" type="hidden" value="modify" />
<table cellpadding="2" cellspacing="1" class="table">

    <tr> 
        <td class="text"><span class="bi_tian">*</span>标题：</td>
        <td class="input"><input name="met_title" type="text" class="text" value=""/></td>
    </tr>
     
    <tr> 
        <td class="text"><span class="bi_tian">*</span>发布人：</td>
        <td class="input">
			<input name="met_author" type="text " class="text gen" value="" />
        </td>
    </tr>
    <tr>
      <td class="text"><span class="bi_tian">*</span>咨询内容：</td>
      <td class="input">&nbsp;</td>
    </tr> 
    <tr> 
        <td colspan="2" class="text">
			<textarea name="met_content" rows="30" cols="50" ></textarea>
          <script type="text/javascript">CKEDITOR.replace('met_content');</script>
			<span class="tips">记得保存!</span>
        </td>
    </tr> 
	
	
	<tr> 
        <td class="text"></td>
	    <td class="submit">
		<input type="submit" name="submit1" value="保存" class="submit" onclick="return Smit($(this),'myform')" />
        </td>
    </tr>
  </table>
</form>

</body>
</html>
