{% load BAdmin_filter %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'BAdmin/images/metinfo.css' %}" />
<script type="text/javascript" src="{% static 'BAdmin/ckeditor/ckeditor.js' %}"></script>

</head>

<body>

	<div class="metinfotop">
	<div class="position">简体中文：票号历史 > <a href="#"></a></div>

	</div>
	<div class="clear"></div>


<div class="stat_list">
	<ul>
		<li class="now"><a href="#" title="票号历史">票号历史</a></li>
		<!--<li ><a href="1.html" title="系统邮箱配置">系统邮箱配置</a></li> -->
	</ul>
</div>
<table cellpadding="1" cellspacing="0" border="1" class="table">
    <tr>
        <th class=""><span class="bi_tian">*</span>序号</th>
        <th class=""><span class="bi_tian">*</span>票号</th>
        <th class=""><span class="bi_tian">*</span>业务</th>
        <th class=""><span class="bi_tian">*</span>取号时间</th>
        <th class=""><span class="bi_tian">*</span>取号人</th>
        <th class=""><span class="bi_tian">*</span>状态</th>
        <th class=""><span class="bi_tian">*</span>操作</th>
    </tr>
     {% for ticket in ticketlist_all %}
    <tr style="text-align: center">
        <td class=""><span class="">{{ ticket.id }}</span></td>
        <td class=""><span class="">{{ ticket.no }}</span></td>
        <td class=""><span class="">{{ ticket.service.name }}</span></td>
        <td class=""><span class="">{{ ticket.starttime}}</span></td>
        <td class=""><span class="">{{ ticket.wechatuser.name}}</span></td>
        <td class=""><span class="">{{ ticket.state|Bstate_change }}</span></td>
        <td class="">
            {% if ticket.state == 0 %}
            <span class=""><a href="{% url 'BAdmin:ticket_doing' ticket.id %}">办理</a></span>
            {% endif %}
            {% if ticket.state == 1 %}
            &nbsp;&nbsp;<span class=""><a href="{% url 'BAdmin:ticket_end' ticket.id %}">办结</a></span>
            {% endif %}
            {% if ticket.state == 4 %}
            <span class=""><a href="{% url 'BAdmin:ticket_start' ticket.id %}">预约通过</a></span>
            {% endif %}
            &nbsp;&nbsp;<span class=""><a href="{% url 'BAdmin:ticket_out' ticket.id %}">作废</a></span>
        </td>
    </tr>
    {% endfor %}

  </table>
    <table cellpadding="1" cellspacing="0" class="table">
<tr style="text-align: right;font-size: 15px;">
    <td>共&nbsp;<b>{{ pageDict.allCount }}</b>&nbsp;条数据&nbsp;&nbsp;
        {% ifnotequal pageDict.nowPage 1 %}
        <a href="?pageType=last&nowPage={{ pageDict.nowPage }}">上一页</a>
        {% endifnotequal %}
        &nbsp;&nbsp;{{ pageDict.nowPage  }}/{{ pageDict.allPage }}&nbsp;&nbsp;
        {% ifnotequal pageDict.nowPage pageDict.allPage %}
        <a href="?pageType=next&nowPage={{ pageDict.nowPage }}">下一页</a>
        {% endifnotequal %}
    </td>
</tr>
    </table>

</body>
</html>