{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'base/css/jquery.mobile-1.4.5.min.css' %}">
    <script src="{% static 'base/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.mobile-1.4.5.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/themes/Bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/themes/jquery.mobile.icons.min.css' %}">
    {% block css %} {% endblock %}
    {% block js %} {% endblock %}
</head>
<body>

<div data-role="page" id="pageone" data-theme="a"   >
  <div data-role="header" data-position="inline" data-theme="a">
    <div data-role="navbar">
					<ul>
						<li><a href="index.html" data-icon="home" class="ui-btn-active">首页</a></li>
						<li><a href="buttons.html" data-icon="star">个人中心</a></li>
					</ul>
				</div>
      {% block header %} {% endblock %}
  </div>

  <div data-role="content" data-theme="a">
      {% block content %} {% endblock %}
  </div>

  <div data-role="footer" data-theme="a" data-position="fixed">
      {% block footer %} {% endblock %}
  </div>
</div>

</body>
</html>